@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Nunito', sans-serif;
}

main {
    color: white;
    background-image: url(../Imagenes/fondo-de-pantalla.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 400px;
    padding-bottom: 200px;
}

#container {
    color: rgb(0, 0, 0);
    background-color: lightgray;
    padding: 40px 0px;
}

.card-pokemon {
    display: none;
}

.card {
    width: 270px;
    height: 300px;
    border: 3px solid transparent;
    border-radius: 0.7rem;
}

.slide {
    width: 270px;
    height: 300px;
}


.imagenCarrito {
    width: 31px;
    height: 31px;
}

.slide0 {
    width: 30px;
    height: 30px;
    visibility: hidden;
    transform:translate(235px, 5px);
    position: relative;
    z-index: 2;
}

.slide1 {
    border: 4px solid rgba(0, 0, 0, 0.399);
    border-radius: 0.7rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    transform: translate(-4px, -34px)
}

.slide2 {
    border: 4px solid black;
    border-radius: 0.7rem;
    font-weight: bold;
    font-size: 19px;
    height: 160px;
    visibility: hidden;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-4px, -200px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.card:hover .slide.slide2 {
    transform: translate(-4px, -30px);
    transition: 0.3s;
    visibility: visible;
    z-index: 3;
}

.card:hover .slide.slide0 {
    visibility: visible;
}

.botonesCarrito {
    background-color: transparent;
    border: none;
}

.botonesCarrito:hover {
    cursor: pointer;
}

.botonesCarrito:active {
    transform: scale(1.2);
}

.caracteristica {
    width: 230px;
}

ul {
    padding: 8px;
}

h2 {
    font-size: 30px;
    margin-top: 8px
}

.card-imagen {
    height: 78%;
    width: 78%;
}

#imagen-pokemon {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


.electrico {
    background-color: rgba(255, 210, 51, 0.500);
}

.fuego {
    background-color: rgba(255, 66, 28, 0.500);
}

.agua {
    background-color: rgba(173, 216, 230, 0.5);
}

.hoja {
    background-color: rgba(0, 128, 0, 0.500);
}

.dragon {
    background-color: rgba(126, 108, 249, 0.500);
}

.psiquico {
    background-color: rgba(253, 86, 156, 0.500);
}

.veneno {
    background-color: rgba(156, 66, 140, 0.500);
}

.normal {
    background-color: rgb(185, 182, 168, 0.500);
}

.roca {
    background-color: rgb(188, 172, 102, 0.500);
}

.acero {
    background-color: rgb(169, 169, 187, 0.500);
}

.hada {
    background-color: rgb(255, 172, 255, 0.500);
}

.lucha {
    background-color: rgb(194, 87, 69, 0.500);
}

.siniestro {
    background-color: rgb(120, 84, 66, 0.500);
}

.fantasma {
    background-color: rgb(75, 75, 159, 0.500);
}

.tierra {
    background-color: rgb(221, 187, 84, 0.500);
}

.hielo {
    background-color: rgb(120, 222, 255, 0.500);
}

.acero-roca {
    background: linear-gradient(126deg, rgba(169,169,187,0.6) 0%, rgba(188,172,102,0.6) 100%);
}

.siniestro-acero {
    background: linear-gradient(126deg, rgba(120,84,66,0.5) 0%, rgba(169,169,187,0.5) 100%);
}

.fantasma-fuego {
    background: linear-gradient(126deg, rgba(75,75,159,0.5) 0%, rgba(255,66,28,0.5) 100%);;
}

.bicho-volador {
    background: linear-gradient(126deg, rgba(171,188,28,0.5) 0%, rgba(105,159,255,0.5) 100%);;
}

.volador-normal {
    background: linear-gradient(126deg, rgba(105,159,255,1) 0%, rgba(185,182,168,0.5) 100%);;
}

.dragon-psiquico {
    background: linear-gradient(126deg, rgba(108,93,203,0.500) 0%, rgba(253,86,156,0.500) 100%);
}

@media (min-width: 480px) {
    header {
        background: linear-gradient(90deg, white 60%, rgba(128, 128, 128, 0.841) 100%) ;
    }
}

@media (min-width: 768px) {
    header {
        background: linear-gradient(90deg, white 40%, gray 100%) ;
    }
}
