@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}

header {
    background: linear-gradient(90deg, white 85%, rgba(128, 128, 128, 0.488) 100%) ;
}

#imagenLogo {
    height: 24vw;
}

main {
    color: white;
    background-image: url(../Imagenes/fondo-de-pantalla.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 41vw;
    padding-bottom: 21vw;
}

/*APARTADO BUSCADOR*/

div#containerBuscadores {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#buscadores {
    padding: 1.2vw 1.2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 8vw;
    inline-size: fit-content;
    background-color: lightgrey;
    border-radius: 0.5em;
}

img#imagenLupa {
    border-radius: 0.5em;
    background-color: grey;
    margin-right: 1.2vw;
}

input#buscador {
    width: 40vw;
    margin-right: 1.1vw;
    padding: 0vw 1.1vw;

}

input#buscador, select#opcionesFiltro {
    border: 0.5vw solid grey;
    border-radius: 0.5em;
    font-size: 3.3vw;
    background-color: lightgrey;
}

input#buscador:focus {
    border: 0.75vw solid grey;
}

select#opcionesFiltro {
    width: 25vw;
}

#container {
    color: rgb(0, 0, 0);
    padding: 10vw 5vw;
    margin-bottom: 22vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vw;
}

.imagen-carga {
    width: 70vw;
}

/*CARDS POKEMON*/

.card {
    background-color: lightgray;
    width: 29vw;
    height: 29vw;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide {
    width: 29vw;
    height: 29vw;
    border-radius: 0.7rem;
}

.costados.derecha {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slide0 {
    width: 27vw;
    height: 27vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1vw solid rgba(0, 0, 0, 0.399);
}

.slide1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-nombre {
    font-size: 2.5vw;
    padding-top: 1vw;
}

#imagen-pokemon {
    height: 75%;
    object-fit: contain;
    object-position: center;
}

.slide2 {
    border: 0.7vw solid black;
    border-radius: 0.7rem;
    font-weight: bold;
    font-size: 3vw;
    visibility: hidden;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5vw 10vw rgba(0,0,0,0.4);
    transform: translateX(-0.7vw);
}

ul {
    padding-left: 5vw;
}

.card:hover .slide.slide2 {
    transform: translate(-0.7vw, 29.5vw);
    transition: 0.33s;
    visibility: visible;
    z-index: 3;
}

.imagenCarrito {
    width: 5vw;
}

.botonesEquipo {
    background-color: transparent;
    border: none;
    height: 5vw;
    border-radius: 1em;
    margin: 0vw 0.3vw 0.3vw 0vw;
    z-index: -1;
}

.card:hover div.costados {
    z-index: 3;
}

.botonesEquipo:hover {
    cursor: pointer;
}

.botonesEquipo:active {
    transform: scale(1.2);
}


/*APARTADO DE RESULTADOS*/

#nBuscadosTitulo, #tBuscadosTitulo {
    text-align: center;
    background-color: rgba(0,0,0,0.7);
}

#nBuscados, #tBuscados {
    color: rgb(0, 0, 0);
    margin: 2.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5vw;
}

.card.resultado {
    background-color: rgba(0,0,0,0.5);
    color: white;
}


#btnBuscados, #btnLimpiar, #btnStorage {
    background-color: rgb(192,95,66);
    width: 40vw;
    font-size: 4.7vw;
    font-weight: bold;
    margin: 0vw 2.4vw;
    border-radius: 0.8vw;
    box-shadow: -1.75vw 1.2vw 2.5vw rgba(0,0,0); /*Horizontal offset | Vertical offset | Blur (difuminado) | Spread (tamaño)*/
}

.btns-resultados {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 1vw;
}

#btnBuscados:hover, #btnLimpiar:hover, #btnStorage:hover {
    background-color: rgb(193, 109, 83);
}

.hidden {
    visibility: hidden;
}

#resultados {
    padding: 2.5vw 0vw;
}

/*SWAL*/

.swal-modal {
    border: 0.75vw solid black;
    width: 75vw;
    justify-items: center;
}

.swal-text:first-child {
    margin: 6.25vw 0vw;
}

.swal-text:last-child {
    margin: 2vw;
    padding: 0vw;
}

.swal-text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
}

.swal-icon.swal-icon--custom {
    margin: 0px;
    background: linear-gradient(0deg, rgba(120,120,120,1) 0%, rgba(211,211,211,1) 100%);
}

.swal-title:not(:last-child) {
    margin: 0px;
}

.swal-title {
    padding: 0px;
    background: linear-gradient(0deg, rgba(100,100,100,1) 0%, rgba(120,120,120,1) 100%);;
    color: white;
}

.swal-footer {
    padding: 16px 0px;
    margin: 0px 16px;
    text-align: center;
}

/*COLOR DEL FONDO DE LAS TARJETAS*/

.electrico {
    background-color: rgba(255, 210, 51, 0.500);
}

.fuego {
    background-color: rgba(255, 66, 28, 0.500);
}

.agua {
    background-color: rgba(173, 216, 230, 0.5);
}

.hoja {
    background-color: rgba(0, 128, 0, 0.500);
}

.dragon {
    background-color: rgba(126, 108, 249, 0.500);
}

.psiquico {
    background-color: rgba(253, 86, 156, 0.500);
}

.veneno {
    background-color: rgba(156, 66, 140, 0.500);
}

.normal {
    background-color: rgb(185, 182, 168, 0.500);
}

.roca {
    background-color: rgb(188, 172, 102, 0.500);
}

.acero {
    background-color: rgb(169, 169, 187, 0.500);
}

.hada {
    background-color: rgb(255, 172, 255, 0.500);
}

.lucha {
    background-color: rgb(194, 87, 69, 0.500);
}

.siniestro {
    background-color: rgb(120, 84, 66, 0.500);
}

.fantasma {
    background-color: rgb(75, 75, 159, 0.500);
}

.tierra {
    background-color: rgb(221, 187, 84, 0.500);
}

.hielo {
    background-color: rgb(120, 222, 255, 0.500);
}

.acero.roca {
    background: linear-gradient(126deg, rgba(169,169,187,0.6) 0%, rgba(188,172,102,0.6) 100%);
}

.siniestro.acero {
    background: linear-gradient(126deg, rgba(120,84,66,0.5) 0%, rgba(169,169,187,0.5) 100%);
}

.fantasma.fuego {
    background: linear-gradient(126deg, rgba(75,75,159,0.5) 0%, rgba(255,66,28,0.5) 100%);;
}

.bicho.volador {
    background: linear-gradient(126deg, rgba(171,188,28,0.5) 0%, rgba(105,159,255,0.5) 100%);;
}

.volador.normal {
    background: linear-gradient(126deg, rgba(105,159,255,1) 0%, rgba(185,182,168,0.5) 100%);;
}

.dragon.psiquico {
    background: linear-gradient(126deg, rgba(108,93,203,0.500) 0%, rgba(253,86,156,0.500) 100%);
}

/*MEDIA-QUERYs*/

@media (min-width: 480px) {
    header {
        background: linear-gradient(90deg, white 70%, rgba(128, 128, 128, 0.841) 100%) ;
    }

    #imagenLogo {
        height: 22vw;
    }

    .card, .slide {
        width: 28vw;
        height: 28vw;
    }

    .slide0 {
        width: 26vw;
        height: 26vw;
    }

    .card-nombre {
        font-size: 2.2vw;
        padding-top: 0.5vw;
    }
    
    .imagenCarrito {
        width: 4.5vw;
    }

    .botonesEquipo {
        height: 4.5vw;
    }

    .card:hover .slide.slide2 {
        transform: translate(-0.7vw, 28vw);
    }

    .slide2 {
        font-size: 2.6vw;
    }
    
    ul {
        padding-left: 4vw;
        padding-right: 1vw;
    }

    .swal-modal {
        width: 60vw;
    }
}

@media (min-width: 768px) {
    header {
        background: linear-gradient(90deg, white 57%,  rgb(63, 63, 63) 100%) ;
    }

    main {
        padding-top: 26vw;
    }

    #container {
        padding-top: 5vw;
    }

    #imagenLogo {
        height: 18vw;
    }

    div#buscadores {
        height: 4.5vw;
        width: 60vw;
        padding: 0.75vw;
    }

    input#buscador {
        width: 40vw;
    }

    select#opcionesFiltro {
        width: 15vw;
    }

    input#buscador, select#opcionesFiltro {
        font-size: 2.5vw;
    }

    #container {
        padding-bottom: 0px;
    }

    .card, .slide {
        width: 21vw;
        height: 21vw;
    }

    .slide0 {
        width: 19vw;
        height: 19vw;
    }

    .card-nombre {
        font-size: 1.7vw;
        padding-top: 0.5vw;
    }
    
    .imagenCarrito {
        width: 3.5vw;
    }

    .botonesEquipo {
        height: 3.5vw;
    }

    .card:hover .slide.slide2 {
        transform: translate(-0.7vw, 21.5vw);
    }

    .slide2 {
        height: 26vw;
        font-size: 1.8vw;
    }
    
    ul {
        padding-left: 3.3vw;
    }
    
    .swal-modal {
        width: 50vw;
    }

    .swal-button {
        font-size: 19px;
    }

    #btnBuscados, #btnLimpiar, #btnStorage {
        width: 30vw;
        font-size: 3vw;
    }
}

@media (min-width: 1024px) {
    header {
        background: linear-gradient(90deg, white 50%, rgb(63, 63, 63) 100%) ;
    }
    
    #imagenLogo {
        height: 14vw;
    }

    main {
        padding-top: 20vw;
    }

    #container {
        gap: 1vw;
        padding: 8vw 1vw 0vw;
        margin-bottom: 16vw;
    }

    div#buscadores {
        height: 4.5vw;
        width: 70vw;
        padding: 0.5vw;
    }

    select#opcionesFiltro {
        width: 25vw;
    }

    .card, .slide {
        width: 15vw;
        height: 16vw;
    }

    .slide0 {
        width: 13.6vw;
        height: 14.6vw;
        border: 0.7vw solid rgba(0, 0, 0, 0.399);
    }

    .slide2 {
        height: 16vw;
        border: 0.3vw solid black;
    }

    .card-nombre {
        font-size: 1.4vw;
        padding-top: 1vw;
    }
    
    .imagenCarrito {
        width: 2.7vw;
    }

    .botonesEquipo {
        height: 2.7vw;
    }

    #imagen-pokemon {
        height: 65%;
    }

    .card:hover .slide.slide2 {
        transform: translate(-0.7vw, 16.5vw);
    }

    .slide2 {
        font-size: 1.5vw;
    }
    
    ul {
        padding-left: 2.5vw;
        padding-right: 1vw;
    }
    
    .swal-modal {
        width: 50vw;
    }

    .swal-footer {
        padding: 16px 0px;
    }

    .swal-button {
        font-size: 19px;
    }

    #btnBuscados, #btnLimpiar, #btnStorage {
        width: 20vw;
        font-size: 2.2vw;
    }

}