@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}

header {
    background: linear-gradient(90deg, white 85%, rgba(128, 128, 128, 0.488) 100%) ;
}

#imagenLogo {
    height: 24vw;
}

main {
    color: white;
    background-image: url(../Imagenes/fondo-de-pantalla.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 41vw;
    padding-bottom: 21vw;
}

/*APARTADO BUSCADOR*/

div#containerBuscadores {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#buscadores {
    padding: 1.2vw 1.2vw;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 8vw;
    inline-size: fit-content;
    background-color: lightgrey;
    border-radius: 0.5em;
}

img#imagenLupa {
    border-radius: 0.5em;
    background-color: grey;
    margin-right: 1.2vw;
}

img#imagenLupa:hover {
    cursor: pointer;
}

img#imagenLupa:active {
    transform: scale(1.1);
}

input#buscador {
    width: 40vw;
    margin-right: 1.1vw;
    padding: 0vw 1.1vw;

}

input#buscador, select#opcionesFiltro {
    border: 0.5vw solid grey;
    border-radius: 0.5em;
    font-size: 3.3vw;
    background-color: lightgrey;
}

input#buscador:focus {
    border: 0.75vw solid grey;
}

select#opcionesFiltro {
    width: 25vw;
}

#container {
    color: rgb(0, 0, 0);
    padding: 10vw 5vw;
    margin-bottom: 22vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vw;
}

.imagen-carga {
    width: 70vw;
}

/*CARDS POKEMON*/

.card {
    background-color: lightgray;
    width: 29vw;
    height: 29vw;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide {
    width: 29vw;
    height: 29vw;
    border-radius: 0.7rem;
}

.costados.derecha {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slide0 {
    width: 27vw;
    height: 27vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1vw solid rgba(0, 0, 0, 0.399);
}

.slide1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-nombre {
    font-size: 2.5vw;
    padding-top: 1vw;
}

#imagen-pokemon {
    height: 75%;
    object-fit: contain;
    object-position: center;
}

.slide2 {
    border: 0.7vw solid black;
    border-radius: 0.7rem;
    font-weight: bold;
    font-size: 3vw;
    visibility: hidden;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5vw 10vw rgba(0,0,0,0.4);
    transform: translateX(-0.7vw);
}

ul {
    padding-left: 5vw;
}

.card:hover .slide.slide2 {
    transform: translate(-0.7vw, 29.5vw);
    transition: 0.33s;
    visibility: visible;
    z-index: 3;
}

.imagenCarrito {
    width: 5vw;
}

.botonesEquipo {
    background-color: transparent;
    border: none;
    height: 5vw;
    border-radius: 1em;
    margin: 0vw 0.3vw 0.3vw 0vw;
    z-index: -1;
}

.card:hover div.costados {
    z-index: 3;
}

.botonesEquipo:hover {
    cursor: pointer;
}

.botonesEquipo:active {
    transform: scale(1.2);
}


/*APARTADO DE RESULTADOS*/

#nBuscadosTitulo, #tBuscadosTitulo {
    text-align: center;
    background-color: rgba(0,0,0,0.7);
}

#nBuscados, #tBuscados {
    color: rgb(0, 0, 0);
    margin: 2.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vw;
}

.card.resultado {
    background-color: rgba(0,0,0,0.5);
    color: white;
}


#btnBuscados, #btnLimpiar, #btnStorage, #btnEquipo {
    background-color: rgb(192,95,66);
    width: 40vw;
    font-size: 4.7vw;
    font-weight: bold;
    margin: 0vw 2.4vw;
    border-radius: 0.8vw;
    box-shadow: -1.75vw 1.2vw 2.5vw rgba(0,0,0); /*Horizontal offset | Vertical offset | Blur (difuminado) | Spread (tamaño)*/
}

.btns-resultados {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 1vw;
}

#btnBuscados:hover, #btnLimpiar:hover, #btnStorage:hover, #btnEquipo:hover {
    background-color: rgb(193, 109, 83);
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

#resultados {
    padding: 2.5vw 0vw;
}

/*SWAL*/

.swal-modal {
    border: 5px solid black;
    width: 250px;
    justify-items: center;
}

.swal-text:first-child {
    margin: 25px 0px;
}

.swal-text:last-child {
    margin: 8px;
    padding: 0px;
}

.swal-text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
}

.swal-icon.swal-icon--custom {
    margin: 0px;
    background: linear-gradient(0deg, rgba(120,120,120,1) 0%, rgba(211,211,211,1) 100%);
}

.swal-title:not(:last-child) {
    margin: 0px;
}

.swal-title {
    padding: 0px;
    background: linear-gradient(0deg, rgba(100,100,100,1) 0%, rgba(120,120,120,1) 100%);;
    color: white;
}

.swal-footer {
    padding: 16px 0px;
    margin: 0px 16px;
    text-align: center;
}

/*APARTADO EQUIPO*/

div#equipoTitulo {
    text-align: center;
    background: radial-gradient(circle, rgba(35,35,35,1) 0%, rgba(255,255,255,1) 100%);
    margin: 1vw 0vw;
}

div#equipo {
    width: 95%;
    margin-left: 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scroll {
    overflow-x: scroll;
}

table {
    background: linear-gradient(0deg, rgba(240,240,240,0) 20%, rgba(200,200,200,0.64) 20%, rgba(109,109,109,1) 81.6%, rgba(35,35,35,1) 100%);
    border-spacing: 0;
    overflow: auto;
    display: block;
}

table td {
    text-align: center;
}

.content {
    max-width: 125px;
    max-height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-equipo {
    max-height: inherit;
    object-fit: contain;
}

.tnombre {
    height: 26px;
    font-size: 19px;
    font-weight: bold;
}

.tbutton img {
    height: 30px;
    border-radius: 70px;
    
}

.buttonContainer {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tbutton {
    border: none;
    height: 33px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 70px;
}

/*COLOR DEL FONDO DE LAS TARJETAS*/

.electrico {
    background-color: rgba(255, 210, 51, 0.500);
}

.fuego {
    background-color: rgba(255, 66, 28, 0.500);
}

.agua {
    background-color: rgba(173, 216, 230, 0.5);
}

.planta {
    background-color: rgba(0, 128, 0, 0.500);
}

.dragon {
    background-color: rgba(126, 108, 249, 0.500);
}

.psiquico {
    background-color: rgba(253, 86, 156, 0.500);
}

.veneno {
    background-color: rgba(156, 66, 140, 0.500);
}

.normal {
    background-color: rgb(185, 182, 168, 0.500);
}

.roca {
    background-color: rgb(188, 172, 102, 0.500);
}

.acero {
    background-color: rgb(169, 169, 187, 0.500);
}

.hada {
    background-color: rgb(255, 172, 255, 0.500);
}

.lucha {
    background-color: rgb(194, 87, 69, 0.500);
}

.siniestro {
    background-color: rgb(120, 84, 66, 0.500);
}

.fantasma {
    background-color: rgb(75, 75, 159, 0.500);
}

.tierra {
    background-color: rgb(221, 187, 84, 0.500);
}

.hielo {
    background-color: rgba(120, 222, 255, 0.500);
}

.bicho {
    background-color: rgba(171,188,28,0.5);
}

.volador {
    background-color: rgba(105,159,255,0.5);
}

.agua.psiquico {
    background: linear-gradient(126deg, rgba(173, 216, 230, 0.5) 0%, rgba(253, 86, 156, 0.500) 100%)
}

.psiquico.planta {
    background: linear-gradient(126deg, rgba(253, 86, 156, 0.500) 0%, rgba(0, 128, 0, 0.500) 100%)
}

.electrico.acero {
    background: linear-gradient(126deg, rgba(255, 210, 51, 0.500) 0%, rgb(169, 169, 187, 0.500) 100%)
}

.veneno.lucha {
    background: linear-gradient(126deg, rgba(156, 66, 140, 0.500) 0%, rgb(194, 87, 69, 0.500) 100%)
}

.lucha.psiquico {
    background: linear-gradient(126deg, rgb(194, 87, 69, 0.500) 0%, rgba(253, 86, 156, 0.500) 100%)
}

.agua.siniestro {
    background: linear-gradient(126deg, rgba(173, 216, 230, 0.5) 0%, rgb(120, 84, 66, 0.500)  100%)
}

.siniestro.fuego {
    background: linear-gradient(126deg, rgb(120, 84, 66, 0.500) 0%, rgba(255, 66, 28, 0.500) 100%);
}

.siniestro.hielo {
    background: linear-gradient(126deg, rgb(120, 84, 66, 0.500) 0%, rgba(120, 222, 255, 0.500) 100%)
}

.hielo.bicho {
    background: linear-gradient(126deg, rgba(120, 222, 255, 0.500) 0%, rgba(171,188,28,0.5) 100%)
}

.bicho.agua {
    background: linear-gradient(126deg, rgba(171,188,28,0.5) 0%, rgba(173, 216, 230, 0.5) 100%)
}

.bicho.hada {
    background: linear-gradient(126deg, rgba(171,188,28,0.5) 0%, rgb(255, 172, 255, 0.500) 100%)
}

.bicho.fuego {
    background: linear-gradient(126deg, rgba(171,188,28,0.5) 0%, rgba(255, 66, 28, 0.500) 100%);
}

.bicho.electrico {
    background: linear-gradient(126deg, rgba(171,188,28,0.5) 0%, rgba(255, 210, 51, 0.500) 100%);
}

.bicho.veneno {
    background: linear-gradient(126deg, rgba(171,188,28,0.5) 0%, rgba(156, 66, 140, 0.500) 100%)
}

.bicho.lucha {
    background: linear-gradient(126deg, rgba(171,188,28,0.5) 0%, rgb(194, 87, 69, 0.500) 100%);
}

.bicho.planta {
    background: linear-gradient(126deg, rgba(171,188,28,0.5) 0%, rgba(0, 128, 0, 0.500) 100%)
}

.planta.volador {
    background: linear-gradient(126deg, rgba(0, 128, 0, 0.500) 0%, rgba(105,159,255,0.5) 100%)
}

.roca.agua {
    background: linear-gradient(126deg, rgb(188, 172, 102, 0.500) 0%, rgba(173, 216, 230, 0.5) 100%);
}

.fantasma.planta {
    background: linear-gradient(126deg, rgb(75, 75, 159, 0.500) 0%, rgba(0, 128, 0, 0.500) 100%);
}

.hielo.psiquico {
    background: linear-gradient(126deg, rgb(120, 222, 255, 0.500) 0%, rgba(253, 86, 156, 0.500) 100%);
}

.psiquico.normal {
    background: linear-gradient(126deg, rgba(253, 86, 156, 0.500) 0%, rgb(185, 182, 168, 0.500) 100%);
}

.agua.hielo {
    background:  linear-gradient(126deg, rgba(173, 216, 230, 0.5) 0%, rgb(120, 222, 255, 0.500) 100%);
}

.lucha.fantasma {
    background: linear-gradient(126deg, rgb(194, 87, 69, 0.500) 0%, rgb(75, 75, 159, 0.500) 100%);
}

.veneno.fuego {
    background: linear-gradient(126deg, rgba(156, 66, 140, 0.500) 0%, rgba(255, 66, 28, 0.500) 100%);
}

.acero.psiquico {
    background: linear-gradient(126deg, rgba(169,169,187,0.6) 0%, rgba(253, 86, 156, 0.500) 100%);
}

.electrico.veneno {
    background: linear-gradient(126deg, rgba(255, 210, 51, 0.500) 0%, rgba(156, 66, 140, 0.500) 100%);
}

.acero.fantasma {
    background: linear-gradient(126deg, rgba(169,169,187,0.6) 0%, rgb(75, 75, 159, 0.500) 100%);
}

.psiquico.hada {
    background: linear-gradient(126deg, rgba(253, 86, 156, 0.500) 0%, rgb(255, 172, 255, 0.500) 100%);
}

.fantasma.volador {
    background: linear-gradient(126deg, rgb(75, 75, 159, 0.500) 0%, rgba(105,159,255,0.5) 100%);
}

.tierra.fantasma {
    background: linear-gradient(126deg, rgb(221, 187, 84, 0.500) 0%, rgb(75, 75, 159, 0.500) 100%);
}

.tierra.siniestro {
    background: linear-gradient(126deg, rgb(221, 187, 84, 0.500) 0%, rgb(120, 84, 66, 0.500) 100%);
}

.fantasma.veneno {
    background: linear-gradient(126deg, rgb(75, 75, 159, 0.500) 0%, rgba(156, 66, 140, 0.500) 100%);
}

.planta.veneno {
    background: linear-gradient(126deg, rgba(0, 128, 0, 0.500) 0%, rgba(156, 66, 140, 0.500) 100%);
}

.acero.roca {
    background: linear-gradient(126deg, rgba(169,169,187,0.6) 0%, rgba(188,172,102,0.6) 100%);
}

.siniestro.acero {
    background: linear-gradient(126deg, rgba(120,84,66,0.5) 0%, rgba(169,169,187,0.5) 100%);
}

.fantasma.fuego {
    background: linear-gradient(126deg, rgba(75,75,159,0.5) 0%, rgba(255,66,28,0.5) 100%);
}

.bicho.volador {
    background: linear-gradient(126deg, rgba(171,188,28,0.5) 0%, rgba(105,159,255,0.5) 100%);
}

.volador.normal {
    background: linear-gradient(126deg, rgba(105,159,255,1) 0%, rgba(185,182,168,0.5) 100%);
}

.dragon.volador {
    background: linear-gradient(126deg, rgba(108,93,203,0.500) 0%, rgba(105,159,255,0.5) 100%);
}

.dragon.psiquico {
    background: linear-gradient(126deg, rgba(108,93,203,0.500) 0%, rgba(253,86,156,0.500) 100%);
}

/*MEDIA-QUERYs*/

@media (min-width: 480px) {
    header {
        background: linear-gradient(90deg, white 70%, rgba(128, 128, 128, 0.841) 100%) ;
    }

    #imagenLogo {
        height: 22vw;
    }

    .card, .slide {
        width: 28vw;
        height: 28vw;
    }

    .slide0 {
        width: 26vw;
        height: 26vw;
    }

    .card-nombre {
        font-size: 2.2vw;
        padding-top: 0.5vw;
    }
    
    .imagenCarrito {
        width: 4.5vw;
    }

    .botonesEquipo {
        height: 4.5vw;
    }

    .card:hover .slide.slide2 {
        transform: translate(-0.7vw, 28vw);
    }

    .slide2 {
        font-size: 2.6vw;
    }
    
    ul {
        padding-left: 4vw;
        padding-right: 1vw;
    }

    .swal-modal {
        width: 450px;
    }
}

@media (min-width: 768px) {
    header {
        background: linear-gradient(90deg, white 57%,  rgb(63, 63, 63) 100%) ;
    }

    main {
        padding-top: 26vw;
    }

    #container {
        padding-top: 5vw;
    }

    #imagenLogo {
        height: 18vw;
    }

    div#buscadores {
        height: 4.5vw;
        padding: 0.75vw;
    }

    input#buscador {
        width: 40vw;
    }

    select#opcionesFiltro {
        width: 15vw;
    }

    input#buscador, select#opcionesFiltro {
        font-size: 2.5vw;
    }

    #container {
        padding-bottom: 0px;
    }

    .card, .slide {
        width: 19vw;
        height: 19vw;
    }

    .slide0 {
        width: 17vw;
        height: 17vw;
    }

    .card-nombre {
        font-size: 1.5vw;
        padding-top: 0.5vw;
    }
    
    .imagenCarrito {
        width: 3.1vw;
    }

    .botonesEquipo {
        height: 3.1vw;
    }

    .card:hover .slide.slide2 {
        transform: translate(-0.7vw, 19.5vw);
    }

    .slide2 {
        height: 23vw;
        font-size: 1.8vw;
    }
    
    ul {
        padding-left: 3.3vw;
    }

    #btnBuscados, #btnLimpiar, #btnStorage, #btnEquipo {
        width: 30vw;
        font-size: 3vw;
    }

    table {
        background: linear-gradient(0deg, rgba(240,240,240,0) 17.5%, rgba(200,200,200,0.64) 17.5%, rgba(109,109,109,1) 81.6%, rgba(35,35,35,1) 100%);
    }

    .content {
        max-width: 220px;
        max-height: 220px;
    }

    .tnombre {
        height: 35px;
        font-size: 30px;
        font-weight: bold;
    }
    
    .tbutton img {
        height: 50px;
    }

    .tbutton {
        height: 50px;
    }

    .buttonContainer {
        height: 65px;
    }
}

@media (min-width: 1024px) {
    header {
        background: linear-gradient(90deg, white 50%, rgb(63, 63, 63) 100%) ;
    }
    
    #imagenLogo {
        height: 14vw;
    }

    main {
        padding-top: 20vw;
    }

    #container {
        gap: 1vw;
        padding: 8vw 1vw 0vw;
        margin-bottom: 16vw;
    }

    div#buscadores {
        height: 4.5vw;
        padding: 0.5vw;
    }

    select#opcionesFiltro {
        width: 25vw;
    }

    .card, .slide {
        width: 15vw;
        height: 16vw;
    }

    .slide0 {
        width: 13.6vw;
        height: 14.6vw;
        border: 0.7vw solid rgba(0, 0, 0, 0.399);
    }

    .slide2 {
        height: 16vw;
        border: 0.3vw solid black;
        transform: translateX(-0.4vw);
        font-size: 1.5vw;
    }

    .card-nombre {
        padding-top: 1vw;
        font-size: 1.5vw;
    }
    
    .imagenCarrito {
        width: 2.7vw;
    }

    .botonesEquipo {
        height: 2.7vw;
    }

    #imagen-pokemon {
        height: 65%;
    }

    .card:hover .slide.slide2 {
        transform: translate(-0.4vw, 16.5vw);
    }
    
    ul {
        padding-left: 2.5vw;
        padding-right: 1vw;
    }

    .tituloBanner {
        font-size: 28px;
    }

    #nBuscados, #tBuscados {
        margin: 1.8vw;
    }

    #btnBuscados, #btnLimpiar, #btnStorage, #btnEquipo {
        width: 20vw;
        font-size: 2.2vw;
    }

    .tbutton:hover {
        cursor: pointer;
        scale: 1.1;
        rotate: 360deg;
        transition: 1s;
    }

}

@media (min-width: 1440px) {
    header {
        background: linear-gradient(90deg, white 25%, rgb(49, 49, 49) 100%) ;
    }
    
    #imagenLogo {
        height: 8vw;
    }

    main {
        padding-top: 10vw;
    }

    #container {
        gap: 0.7vw;
        padding: 5vw 1vw 0vw;
        margin-bottom: 9vw;
    }

    div#buscadores {
        height: 2.5vw;
        padding: 0.5vw;
    }
    
    select#opcionesFiltro {
        width: 10vw;
    }

    input#buscador, select#opcionesFiltro {
        border: 0.2vw solid grey;
        font-size: 1.5vw;
    }

    input#buscador:focus, select#opcionesFiltro:focus {
        border: 0.3vw solid grey;
    }

    .card, .slide {
        width: 11vw;
        height: 12vw;
    }

    .slide0 {
        width: 10.2vw;
        height: 11.2vw;
        border: 0.4vw solid rgba(0, 0, 0, 0.399);
    }

    .slide2 {
        height: 9.5vw;
        border: 0.1vw solid black;
        font-size: 1vw;
        transform: translateX(-0.1vw)
    }

    .card-nombre {
        font-size: 1.1vw;
        padding-top: 0.3vw;
    }
    
    .imagenCarrito {
        width: 2vw;
    }

    .botonesEquipo {
        height: 2vw;
    }

    #imagen-pokemon {
        height: 70%;
    }

    .card:hover .slide.slide2 {
        transform: translate(-0.1vw, 11vw);
    }
    
    ul {
        padding-left: 1.5vw;
        padding-right: 0.5vw;
    }

    .tituloBanner {
        font-size: 35px;
    }

    #btnBuscados, #btnLimpiar, #btnStorage, #btnEquipo {
        width: 10vw;
        font-size: 1.5vw;
        margin: 0vw 1.2vw;
    }
}